
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
*{
	margin:0;
	padding:0;
}
.container{
	width: 1500px;
	margin:0 auto;
	background-color:#f8f8f8;
}
.header{
	width:1170px;
	height:700px;
	padding:0px 165px;
    background-color: abeafa;
}
.header .logo{
	width:125;
	height:111;
	margin-top:18px;
	margin-left:70px;
	float:left;
}
.socials{
	float:right;
	padding-right:25%;
	margin-top:45px;
}
.socials .icon{
	width:16px;
	height:16px;
	padding:4px;
	display:inline-block;
	background-repeat: no-repeat;
}
.socials .insta{
	background-image: url("../img/insta.png");
}
.socials .pinterest{
	background-image: url("../img/pinterest.png");
}
.socials .youtube{
	background-image: url("../img/youtube.png");
}
.socials .twitter{
	background-image: url("../img/twitter.png");
}
.socials .facebook{
	background-image: url("../img/facebook.png");
}
.clear{
	clear:both;
}
.container .welcome{
	width:270px;
	height:300px;
	background-color:#fff51f;
	margin-top:195px;
	float:left;
}
.welcome .welcometext1{
	text-transform:uppercase;
    font-family: "Raleway";
	color:#333333;
	font-size:25pt;
	text-align: left;
	margin: 75px 20px 25px 20px;
}
.welcome .welcometext2{
    font-family: "Raleway";
	color:#333333;
	font-size:18px;
	text-align: left;
	margin-left:20px;	
}
.vipbanner{
	width:320px;
	height:310px;
	float:right;
	margin-top:80px;
	margin-right: 25%;
	padding:0px 30px;
}
.vipbanner h3{
	text-transform:uppercase;
	color:#fff51f;
	font-family: "Raleway";
	font-size:48px;
	text-align: left;
	margin-top:0px;
	margin-bottom:0px;
}
.vipbanner p{
	color:#fff51f;
	font-family: "Raleway";
	font-size:18px;
	text-align: left;
}
.vipbanner .button{
	width:120px;
	height:45px;
	text-transform:uppercase;
	color:#333333;
	background-color:#fff51f;
	font-family: "Raleway";
	font-size:14px;
	text-align: center;
	margin-top:50px;
	border-bottom:none;
	border:0px;
}
.vipbanner .button:hover{
    box-shadow: 5px 5px;
    cursor:pointer;
    color: black;
}
.content{
    width: 1170px;
	background-color:#F8F8F8;
    margin:0px 165px; 
    display: inline-block;
}
.sidebar{
    display:block;
    float: left;
    width: 270px;
    margin-top: -30px;
    margin-right: 30px;
}
.menu{
    display:block;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    font-family: Roboto;
}
.menu li{
    display:block;
    float: left;
    height: 50px;
    width: 270;
    font-weight: bold;
    background-color: #26d2fc;
    vertical-align: middle;
}
.menu li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    padding-left: 30;
    height: 40px;
    padding-top: 10px;
}
.menu li a:hover{
    background-color: #333333;
    color: #ffffff;
}
.tovars{
    width: 870px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-right: 10px;
    margin-top: -30px;
    background-color: #f8f8f8;
}
.menu li:first-child{
    display: block;
    padding-top: 30px;
    padding-left: 30px;
    width: 240px;
    color: #ffffff;
    background-color: #333333;
}
.tovars h2{
    display: block;
    color:#707070;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 10px;
    
}
.tovar{
    display: block;
    width: 270px;
    height: 315px;
    font-family: Roboto;
    font-size: 14px;
    color: #333333;
    margin-bottom: 35px;
    background-color: #fff;
    
}
.tovar img{
    display: block;
    width: 250px;
    height: 230px;
    margin:10px 10px 20px 10px;
}
.tovartext{
    display: flex;
    justify-content: space-between;   
}
.opisanie{
    display: block;
    width:170px;
    margin-left:10px;
}
.many{
    display: block;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 900;
}
.many span{
    color: #ff0000;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 600;
    float: right;
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menubanner{
    display: inline-block;
    width:270px;
    height:300px;
    background-color: #e0e0e0;
    font-family: Raleway;
    font-size: 36px;
    color: #333333;
    margin-top: 30px;    
}
.menubanner p{
    float: right;
    padding-right: 15px;
    padding-top: 130px;
    text-transform: uppercase;
}
.brands{
    display: flex;
    justify-content: space-between;
    height: 160px;
    background-color: #ffffff;
}
.brand{
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 36px;
    color: #bababa;
    padding: 65 20 0 10;
}
.instacontent{
    background-color: #eaeaea;
}
.instafeed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
}
.instaphoto{
    display: flex;
    justify-content:center;
}
.instaphoto img{
    border: 10px solid #fffeff;
    margin-right: 20px;
    width:172px;
    height: 172px;
}
.instaphoto img:last-child{
    margin-right: 0;
}
.socialbanner{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.f_social{
    background-color: #3b5997;
    width: 420;
    height: 150px;
}
.t_social{
    background-color: #3fccfd;
    width: 420;
    height: 150px;
}
.p_social{
    background-color: #cb2027;
    width: 420;
    height: 150px;
}
.p_social img, .t_social img, .f_social img{
   padding-left: 160px;
    padding-top: 50px;
}
.instafeed h3{
    font-family: Roboto;
    font-size: 22pt;
    color: #333333;
}
.instafeed p{
    font-family: Roboto;
    font-size: 18pt;
    color: #333333;
}
.instafeed img{
    width: 30px;
    height: 30px;
}
.footer{
    height: 345px;
    background-color: #373737;
}
.bottommenu{
    height: 300px;
    padding:0px 165px;
}
.podval{
    height: 45px;
    background-color: #333333;
    padding:0px 165px;
}
.category, .account, .support{
    width: 170px;
    height: auto;
}
.Newsletter, .about{
    width: 270px;
    height: auto;
}
.bottommenu{
    display: flex;
    justify-content: space-around;
}
